.mainbody{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.homebutton{
    background-color:#c17e2c;
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.homebutton:hover {
  opacity: 1;

}

.bobaimg{

    height:60%;
    margin: 5px;
    transition: 2s;
}

.bobaimg:hover {
    height:65%;
    transition: 0.3s;
}

#home{
    font-family: "Courier New", Courier, monospace;
}