.mainbody{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.homebutton{
    background-color:#c17e2c;
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.homebutton:hover {opacity: 1}

.bobaimg{
    width: 10em;
    margin-bottom: 5px;
}

.bobaimg:hover {
    width: 12em;
}

#home{
    font-family: "Courier New", Courier, monospace;
}